body {
    font-family: arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.rating {
    font-size: 40px;
    cursor: pointer;
    }

 .star{
    color:lightgrey;
    transform: color 0.2s;
 }   

.star:hover,
.star.selected {
    color: gold;
}

p {
font-size: 20px;
margin: 20px;
}
