body {
    font-family: arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.rating {
    font-size: 40px;
    color: #d3d3d3; /* grå stjerne som standard*/
    cursor: pointer;
    }

.star:hover{
    color: gold; /* Når man går over en stjerne */
}
 
.star.selected{
    color: gold; /* Når en stjerne er valgt*/

}